.idea
cmake/config/out/*h
build
cmake-build*
inputRealExample/*.json
.vscode
realSzeged.zip
test.sh
inputConfigFiles/closure*.json
inputConfigFiles/article*.json
articleTest
articleTest/*
article_*
matlab/mexPanSim.mexa64


# Polcz:
*.mat
thrust
Fn_*_ode.m
Fn_*_out.m
